body{
  display: grid;
  place-content: center;
  overflow: scroll;
  margin:0;
}
h2 {
  font-size: 30px;
}
p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 25px;
  margin-left: 7%;
  margin-right: 7%;
}
.wrapper {
  max-width: auto;
  max-height: auto;
  margin: 1px
}
.wrapper > div {
  border: 2px transparent rgb(223, 223, 223);
  border-radius: 5px;
  padding: 1em;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1 / 1;
 }
.two {
 grid-column: 1 / 8;
 grid-row: 2 / 5;
}
.three {
  grid-column: 4 / 8;
  grid-row: 1 / 2;
 }
.four {
 grid-column: 1 / 8;
 grid-row: 5 / 8;
}
.five {
 grid-column: 1 / 8;
 grid-row: 8 / 11;
}
.six {
 grid-column: 1 / 8;
 grid-row: 11 / 14;
}
.seven {
 grid-column: 1 / 8;
 grid-row: 14 / 17;
}
.eight {
 grid-column: 1 / 8;
 grid-row: 17 / 20;
}
.nine {
 grid-column: 1 / 8;
 grid-row: 20 / 23;
}
.ten {
 grid-column: 1 / 8;
 grid-row: 23 / 26;
}
.eleven {
 grid-column: 1 / 8;
 grid-row: 26 / 29;
}
.one .Title img { 
  margin: 0 center;
  display: block;
  width: 10%;
  padding-left: 62.5%;
}
.two h2 {
  padding-left: 44.5%;
}
.three .HomeButton {
  width: 37%;
  display: block;
  padding-left: 63%;
}
.four img {
  display: block;
  float: left;
}
.four .FirstImg img {
  padding-left: 5.5%;
  width: 30%;
}
.four .FirstImg2 img {
  padding-top: 5%;
  padding-left: 2%;
  width: 60%;
}
.five h2 {
  padding-left: 39%;
}
.six img {
  display: block;
  float: left;
}
.six .SecondImg img {
  width: 50%;
  padding-left: 26%;
}
.seven h2 {
  padding-left: 44%;
}
.eight img {
  display: block;
  float: left;
}
.eight .thirdImg img {
  width: 45%;
  padding-left: 27.5%;
}
.nine h2 {
  padding-left: 43%;
}
.ten img {
  display: block;
  float: left;
}
.ten .FourthImg img {
  width: 37%;
  padding-left: 18%;
}
.ten .FourthImg2 img {
  width: 23%;
  padding-left: 3%;
}
.eleven h2 {
  padding-left: 43.8%;
}