<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="Template.css">
    <meta charset="utf-8">
    <title>cambiar</title>
</head>

<body style="background-color:rgb(255, 255, 255);">
    <div class="wrapper">
        <style>



        </style>
        <div class="one">1
            <div class="Title">
                <a href=""><img src=""></a>
            </div>
        </div>


        <div class="two"> 2  <!-- texto -->
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum</p>
        </div>

        <div class="three">3

            <div class="HomeButton">
                <a href="/Users/core/Desktop/Info/School/CENTRO/2_S/Diseno_Desarollo_Web/RAWMORPHOSIS/rawmorphosis.html"><img src=""></a>
            </div>

        </div>






        
        <div class="four"> 4<!-- imagen -->
            <div class="FirstImg">
                <img src="">
            </div>
            <div class="FirstImg2">
                <img src="">
            </div>
            <div class="FirstImg3">
                <img src="">
            </div>
        </div>
        
        <div class="five"> 5<!-- texto -->
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum</p>
        </div>
        
        <div class="six"> 6 <!-- imagen -->
            <div class="SecondImg">
                <img src="">
            </div>
            <div class="SecondImg2">
                <img src="">
            </div>
            <div class="SecondImg3">
                <img src="">
            </div>
        </div>
        
        <div class="seven"> 7<!-- texto -->
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum</p>
        </div>
        
        <div class="eight"> 8<!-- imagen -->
            <div class="thirdImg">
                <img src="">
            </div>
            <div class="thirdImg2">
                <img src="">
            </div>
            <div class="thirdImg3">
                <img src="">
            </div>
        </div>
        
        <div class="nine"> 9<!-- texto -->
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum</p>
        </div>
        
        <div class="ten"> 10<!-- imagen -->
            <div class="FourthImg">
                <img src="">
            </div>
            <div class="FourthImg2">
                <img src="">
            </div>
            <div class="FourthImg3">
                <img src="">
            </div>
        </div>
        
        <div class="eleven"> 11<!-- texto -->
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum</p>
        </div>
        
        <div class="twelve"> 12<!-- imagen -->
            <div class="FiftImg">
                <img src="">
            </div>
            <div class="FiftImg2">
                <img src="">
            </div>
            <div class="FiftImg3">
                <img src="">
            </div>
        </div>

    </div>

</body>


</html>